* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: beige;
    
}


main {
    background-color: white;
    width: 45vw;
    height: 51vh;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 3px 3px 5px rgba(170, 144, 27, 0.678)
}
h1 {
    color:  rgba(170, 144, 27, 0.678)
}

h2 {
    color:  rgba(139, 121, 40, 0.678);
}
a {
    text-decoration: none;
}

a:visited {
    color: rgb(116, 117, 23);
}

a:hover {
    color: bisque;
}

img.centro {
    float: right;
}