* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: beige;
}

main {
    background-color: white;
    width: 50vw;
    height: 60vh;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 3px 3px 5px rgba(170, 144, 27, 0.678)
}